<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

CRC32 - {{ crc32 }}<br>
Введите дату в формате yyyy-mm-dd
<form method="post">
    {% csrf_token %}
    {{ form.date }}<br>
    Введите код валюты<br>
    {{ form.cur_id }}
    <button type="submit">Ввод</button>
</form>
{% for i in currency %}
{{ i.cur_name }} - {{ i.cur_id }}<br>
{% endfor %}
</body>
</html>