<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
CRC32 - {{ crc32 }}<br>
Данные успешно загружены
<a href="{% url 'main' %}">Назад</a><br><br>

</body>
</html>