<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сохранение данных</title>
</head>
<body>
CRC32 - {{ crc32 }}<br>
Введите дату в формате yyyy-m-d
<form method="post">
    {% csrf_token %}
    {{ form.date }}
    <button type="submit">Ввод</button>
</form>
</body>
</html>