<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


CRC32 - {{ crc32 }}<br>
{% for i in found %}
    {{ i.date }}<br>
    {{ i.cur_name }}<br>
    {{ i.cur_abbreviation }} - {{ i.cur_scale }}<br>
    BYN - {{ i.cur_official_rate }}<br>
{% endfor %}
Разница с предыдущим днем - ({{ dif }} BYN)<br>

<a href="{% url 'main' %}">На главную</a><br><br>
</body>
</html>