<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

CRC32 - {{ crc32 }}<br>
    <a href="{% url 'rate' %}">Посмотреть курс валюты на выбранную дату</a><br><br>
    <a href="{% url 'upload' %}">Загрузить курсы на выбранную дату</a><br><br>



</body>
</html>